.frase {
    font-size: 1.5rem;
    text-align: left;
}

.campo-digitacao {
    font-size: 1.5rem;
    height: 150px;
    border: 3px solid black;
    outline: none;
}

.campo-desabilitado {
    background-color: lightgray;
}

.icones {
    vertical-align: middle;
}

.campo-correto {
    border: 3px solid green;
}

.campo-incorreto {
    border: 3px solid red;
}